preview_roi {
  r_startx: 0
  r_starty: 0
  r_width: 1280
  r_height: 960
  r_resw: 640
  r_resh: 480
  r_srcw: 1280
  r_srch: 960
}
model_data {
  model_input {
    i_width: 96
    i_height: 96
    i_channel: 3
    i_layout: NHWC
  }
  model_output {
    o_dims {
      o_data: 1
      o_data: 1
    }
  }
  arena_size: 101088
}
user_data {
  o_quantize: true
  i_scale: SCALE_0TO255
  i_color_order: BGR
  face_param {
    f_det: false
    f_min_w: 100
    f_min_h: 100
    f_offset_ratio: 0.0
    f_overlay: true
  }
}
