preview_roi {
  r_startx: 0
  r_starty: 0
  r_width: 1280
  r_height: 960
  r_resw: 960
  r_resh: 1280
  r_srcw: 1280
  r_srch: 960
}
model_data {
  model_input {
    i_width: 240
    i_height: 320
    i_channel: 3
    i_layout: NHWC
  }
  model_output {
    o_dims {
      o_data: 4385
      o_data: 14
    }
    o_dims {
      o_data: 4385
      o_data: 1
    }
    o_dims {
      o_data: 4385
      o_data: 2
    }
  }
}
user_data {
  o_quantize: true
  i_scale: SCALE_0TO255
  i_color_order: BGR
  face_param {
    f_det: false
  }
}
