preview_roi {
  r_startx: 280
  r_starty: 120
  r_width: 720
  r_height: 720
  r_resw: 720
  r_resh: 720
  r_srcw: 1280
  r_srch: 960
}
model_data {
  model_input {
    i_width: 160
    i_height: 160
    i_channel: 3
    i_layout: NHWC
  }
  model_output {
    o_dims {
      o_data: 1
      o_data: 20
      o_data: 20
      o_data: 5
    }
  }
  arena_size: 635968
}
user_data {
  o_quantize: true
  i_scale: SCALE_0TO1
  i_color_order: RGB
  face_param {
    f_det: false
    f_min_w: 100
    f_min_h: 100
    f_offset_ratio: 0.0
    f_overlay: true
  }
}
